/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.cm-todo-highlight {
    color: green;
    font-weight: bold;
}

.todo-keyword-setting .setting-item-control {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}